<div class="form-horizontal">
<%= form_for(@user) do |f| %>
<% #FIXME_AB: Move this code to display errors in a partial views/shared folder -%>
  <%= render partial: 'shared/obj', object: @user %>

<fieldset>
<legend>Enter User Details</legend>

  <div class="form-group">
    <%= f.label :first_name, class: "col-lg-2 control-label" %><br>
    <div class="col-lg-4">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "col-lg-2 control-label" %><br>
    <div class="col-lg-4">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-lg-2 control-label" %><br>
    <div class="col-lg-4">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-lg-2 control-label" %><br>
    <div class="col-lg-4">
    <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-lg-2 control-label" %><br>
    <div class="col-lg-4">
      <%= f.password_field :password_confirmation, class: "form-control"%>
    </div>
  </div>

  <div class="actions col-lg-offset-2">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
</div>
