<% if signed_in? %>
    <li><%= current_user.email %></li>
    <% if current_pending_order %>
    <li><%= link_to order_path(current_pending_order) do %>
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
        <span class="badge"><%= current_pending_order.line_items.count %></span>
      <% end %>
    </li>
    <% end %>

    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
<% else %>
    <li><%= link_to "Login", login_path %></a></li>
    <li><%= link_to "Signup", signup_path %></a></li>
<% end %>
