<div class = "col-md-5">
  <div class="thumbnail">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% deal.images.each_with_index do |img, index| %>
        <div class='fixed-width col-md-offset-1 item <%= (index == 0) ? "active" : "" %>'>
          <%= image_tag(img.file.url(:medium), class: "img-responsive") %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="caption-full">
      <h4 class="pull-right"><s><%= number_to_currency deal.price, unit: "₹" %></s> <%= number_to_currency deal.discounted_price, unit: "₹" %></h4>
      <%= loyalty_discount_price(deal) %>
      <h4><%= link_to deal.title, deal_path(deal) %>
      </h4>
    </div>
    <div class="ratings">
    <%= expired_or_soldout_button(deal) %>
    </div>
  </div>
</div>
