<div class="form-horizontal">
  <%= nested_form_for [:admin, @deal], html: { multipart: true } do |f| %>
  <%= render partial: 'shared/form_errors', locals: {obj: @deal} %>
  <fieldset>
    <legend><%= @deal.persisted? ? "Edit Deal" : "New Deal" %></legend>
    <div class="form-group">
      <%= f.label :title, class: "col-lg-2 control-label req" %>
      <div class="col-lg-4">
        <%= f.text_field :title, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "col-lg-2 control-label" %>
      <div class="col-lg-7">
        <%= f.text_area :description, class: "form-control", rows: 15 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :price, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= f.number_field :price, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :discounted_price, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= f.number_field :discounted_price, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :quantity, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= f.number_field :quantity, class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :publish_date, class: "col-lg-2 control-label" %>
      <div class="col-lg-4">
        <%= f.date_select :publish_date, {:include_blank => true, :default => nil} %>
      </div>
    </div>

    <%= f.fields_for :images do |image_form| %>
      <% if image_form.object.file_file_size.present? %>
        <%= image_tag(image_form.object.file.url(:thumb)) %>
      <% else %>
        <%= image_form.file_field :file %>
      <% end %>
      <%= image_form.link_to_remove class: "btn btn-danger btn-xs pull-right" do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    <% end %>
    <p><%= f.link_to_add :images, class: "btn btn-primary" do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add an image
    <% end %>
    </p>
    <label class = "req"> Only gif, jpeg ang png formats are allowed </label>

    <div class="form-group">
      <%= f.label :publishable, "Publish", class: "col-lg-2 control-label" %>
      <div class="col-lg-1">
        <%= f.check_box :publishable, class: "form-control" %>
      </div>
    </div>

    <div class="actions col-lg-offset-2">
      <%= f.submit %>
    </div>
  </fieldset>
  <% end %>
</div>
